<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Desafio API</title>
</head>
<body>
    <div class="box">
        <h1 class="api">API</h1>
        <form class="form">
            <input type="text" class="dataInicial" name="dataInicial" placeholder="Data Inicial">
            <input type="text" class="dataFinal" name="dataFinal" placeholder="Data Final">
            <button type="button" onclick="buscar()">Buscar</button>
        </form>
    </div>
</body>
</html>